.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  .label {
    font-size: var(--font-size-sm);
    color: var(--sub-text-color);
    font-weight: bold;
  }

  .checkboxField {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    .checkboxLabel {
      font-size: var(--font-size-base);
      color: var(--text-color);
    }
  }
}
